* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}


.amo-button {
    display: block;
    width: 49px;
    height: 49px;
    background-size: 80% !important;
    position: relative;
    z-index: 5;
    cursor: pointer;
    border-radius: 35px;
    visibility: visible;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    will-change: transform, opacity;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.amo-button--livechat {
    background: #4c8bf7 url("/img/v3/livechat.svg") 50% no-repeat;
    background-size: 52% !important;
}
.amo-button--livechat[data-badge]:not([data-badge="0"]):before {
    content: attr(data-badge);
    position: absolute;
    top: -3px;
    right: -3px;
    width: 20px;
    height: 20px;
    background: #EB5757;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    font-family: Arial;
    color: #fff;
}
.amo-button--telegram {
    background: #2ca8dd url("/img/v3/telegram.svg") 50% no-repeat;
}
.amo-button--messenger {
    background: #0281ff url("/img/v3/messenger.svg") 50% no-repeat;
    background-size: 63%!important;
}
.amo-button--viber {
    background: #665cac url("/img/v3/viber.svg") 50% no-repeat;
    background-size: 72%!important;
}
.amo-button--facebook {
    background: #0281ff url("/img/v3/messenger.svg") 50% no-repeat;
    background-size: 63%!important;
}
.amo-button--vk {
    background: #4a76a8 url("/img/v3/vk.svg") 50% no-repeat;
    background-size: 72%!important;
}
.amo-button--wechat {
    background: #4fc134 url("/img/v3/wechat.svg") 50% no-repeat;
}
.amo-button--skype {
    background: #00aff0 url("/img/v3/skype.svg") 50% no-repeat;
}
.amo-button--instagram,
.amo-button--instagram_business {
    background: #e1286f url("/img/v3/instagram.svg") 50% no-repeat;
}
.amo-button--whatsapp {
    background: #57d163 url("/img/v3/whatsapp.svg") 50% no-repeat;
}

.amo-button__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.amo-inner-buttons {
    position: relative;
    width: 59px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    padding-bottom: 0;
}
.amo-inner-buttons-body {
    padding: 7px 0;
    position: relative;
}
.amo-inner-buttons-body.horisontal {
    height: 100%;
    position: relative;
}
.amo-inner-buttons-body.vertical {
    height: 100%;
    position: relative;
}
.amo-inner-buttons .amo-button {
    margin: 0 auto 4px;
}
.buttonscollapsed .amo-inner-buttons .amo-button {
    visibility: hidden;
}
/*2*/

    
            .amo-inner-buttons .amo-button:nth-last-of-type(1) {
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
        }
        .buttonscollapsed .amo-inner-buttons .amo-button:nth-last-of-type(1){
            -webkit-transform: translate( 0, 177px);
            transform: translate( 0, 177px);
        }
            .amo-inner-buttons .amo-button:nth-last-of-type(2) {
            -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
        }
        .buttonscollapsed .amo-inner-buttons .amo-button:nth-last-of-type(2){
            -webkit-transform: translate( 0, 118px);
            transform: translate( 0, 118px);
        }
            .amo-inner-buttons .amo-button:nth-last-of-type(3) {
            -webkit-transition-duration: 100ms;
            transition-duration: 100ms;
        }
        .buttonscollapsed .amo-inner-buttons .amo-button:nth-last-of-type(3){
            -webkit-transform: translate( 0, 59px);
            transform: translate( 0, 59px);
        }
    
.amo-inner-buttons.horisontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
            -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        padding-right: 29px;
        -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

                    padding-bottom: 32px;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
.amo-inner-buttons.vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 59px;
    height: 179px;
    position: absolute;
    bottom: 7px;
                right: 7px;
        padding: 10px 0;
}
.amo-inner-buttons.vertical.solo {
    max-width: 100%;
    max-height: 100%;
                right: 0;
    }
.overlay{
    position: absolute;
    top: -7px;
    bottom: -7px;
    left: -7px;
    right: -7px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 59px;
}
.amo-inner-buttons.horisontal .amo-button {
    float:  left ;
    margin: 4px 4px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.buttonscollapsed .amo-inner-buttons.horisontal .overlay {
    opacity: 0;
    visibility: hidden;
            left: 179px;
    }
.buttonscollapsed .amo-inner-buttons.vertical .overlay {
    opacity: 0;
    visibility: hidden;
    top: 179px;
}

.buttonscollapsed .amo-button {
    opacity: 0;
}

    .amo-button__title {
        position: absolute;
        font-size: 12px;
        line-height: 14px;
        border-radius: 14px;
        white-space: nowrap;
        opacity: 0;
        background-color: #FFF;
        color: #000;
        padding: 5px 10px;
        font-family: sans-serif;
    }

.horisontal .amo-button__title {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.vertical .amo-button__title {
                right: 59px;
        top: 50%;
    margin-top: -8px;
}

body:not(.no-titles) .amo-button__title:hover,
body:not(.no-titles) .amo-button:hover .amo-button__title {
    opacity: 0.75;
}
